body{
    background-color: black;
}
.card{
    width: 100vh;
    padding: 20px;         
    margin: auto;
    background-color: #c3fcbef5;
    color:rgb(13, 146, 13);
    text-emphasis-style: bold;
   

}